.header-bg {
    background-image: linear-gradient(to right, #004fc0,  #121c64);
}

.current-weather {
    border: solid 1px black;
}

.form-border {
    border-bottom: black solid 1px;
}

.forecast {
    background-color: #0f2843;
    color: white;
    padding: 0.25rem;
    margin: 0 0.5rem;
    margin-bottom: 0.75rem;
}

.forecast-content {
    margin: 0;
    padding-bottom: 0.75rem;
}

.btn-history {
    background-color: #a8a8a8;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 500;
}

#currentUVIndex {
    padding: 2px 5px;
}

.favorable {
    background-color: green;
    color: white;
}

.moderate {
    background-color: #ffbf00;
    color: white;
}

.severe {
    background-color: red;
    color: white;
}